@import './fonts';
@import './header';
@import './nav';
@import './card';

@import './footer';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir-reg';
  background-color: #f9f9f9;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  padding: 0 50px;
  margin: 0 auto;
}

h2 {
  font-family: 'Avenir-bold';
  font-size: 20px;
  line-height: 27px;
  color: #705658;
  text-align: center;
}

button {
  background-color: transparent;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  font-family: 'Avenir-medium';
  font-size: 14px;
  color: #DC434E;
  padding: 10px 20px;
  border: 1px solid #DC434E;
  border-radius: 3px;
}



.banner {
  padding-top: 31px;

  // .banner-image 
  &-image {
    width: 967px;
    height: 504px;
  }

  .sidebar {
    background-color: #FFFFFF;
    width: 303px;
    height: 504px;

    h2 {
      text-align: left;
      padding-top: 30px;
      padding-left: 30px;
    }

    // .sidebar-list
    &-list {

      // .sidebar-list__item
      &__item {
        padding: 15px 0;
        position: relative;

        &:hover {
          background-color: #FBECED;

          &::before {
            width: 5px;
            height: 100%;
            content: '';
            position: absolute;
            border-radius: 0 2px 2px 0;
            background-color: #d93c47;
            top: 0;
            left: 0;
          }
        }
      }

      // .sidebar-list__link
      &__link {
        font-family: 'Avenir-reg';
        font-size: 14px;
        color: #12212d;
        padding-top: 30px;
        padding-left: 30px;
      }
    }
  }
}

.content {
  padding-top: 80px;

  h2 {
    margin-bottom: 30px;
  }



  // .content-nav
  &-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-top: 1px solid #B7BCC0;

    // .content-nav__btn
    &__btn {
      padding: 28px 25px;
      border: 1px solid #B7BCC0;
      border-top: none;

      // .content-nav__btn--next
      &--next {

        border-left: none;
      }
    }
  }
}

.other .row {
  margin-top: 70px;
  justify-content: space-evenly;

  .card {
    padding: 30px 30px 0 30px;
    background-color: #e8e8e8;

    // .card-name
    &-name {
      font-size: 30px;
      line-height: 40px;
      text-align: left;
    }

    // .card-info
    &-info {
      display: flex;
      align-items: center;

      // .card-info__price
      &__price {
        margin-right: 121px;

        span {
          display: block;
          font-family: 'Avenir-bold';
          font-size: 30px;
          line-height: 40px;
          color: #ffffff;
          margin-bottom: 20px;
        }
      }

      // .card-info__btn
      &__btn {
        background-color: #da404b;
        border: none;
        border-radius: 3px;
        padding: 16px 62px;
        font-size: 14px;
        line-height: 19px;
        color: #ffffff;
      }
    }
  }
}

.text-row {
  margin-bottom: 60px;

  h1 {
    font-family: 'Avenir-bold';
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    color: #705658;
    margin-top: 60px;

  }

  p {
    font-family: 'Avenir-medium';
    font-size: 16px;
    line-height: 22px;
    color: #12212d;
    margin-top: 30px;
  }
}

.breadcrumbs {
  background-color: #FFFFFF;
  padding: 26px 0;

  // .breadcrumbs-list
  &-list {
    display: flex;

    // .breadcrumbs-list__item
    &__item {
      margin-right: 8px;
      position: relative;

      &:not(:first-child)::before {
        width: 2px;
        height: 2px;
        border-radius: 100%;
        content: '';
        position: absolute;
        background-color: #12212d;
        left: -4px;
        top: 50%;
      }

      &:last-child {
        color: #5a646c;
      }
    }

    // .breadcrumbs-list__link
    &__link {
      color: #12212d;
    }
  }
}

.catalog {

  margin-right: 30px;
  
  // .catalog-title
  &-title {
    font-size: 30px;
    line-height: 41px;
    text-align: left;
    padding: 20px 0;
  }
}

.search {
  display: flex;
  background-color: #FFFFFF;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px 30px;

  &-found {
    p {
      color: #5a646c;
    }

    span {
      font-family: 'Avenir-medium';
      color: #12212d;
    }

  }

  &-sorting {
    display: flex;
    align-items: center;

    p {
      font-family: 'Avenir-medium';
      line-height: 19px;
    }

    span {
      margin-left: 6px;
      display: flex;
      justify-content: center;
    }
  }
}

.row {
  .text {
    margin: 30px 0;
  }

  .row {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}